{% extends "base.html" %}


{% block Header %}
<header>
  <nav class="navbar navbar-default"></nav>
</header>
{% end %}


{% block NavLink %}    
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden">
      <a href="#page-top"></a>
    </li>
    {% if current_user %}
    <li>
      <div class="btn btn-group">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
          {{current_user.name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </li>
    {% else %}
    <li>
      <a class="btn" data-toggle="modal" data-target=".login">Login</a>
    </li>
    {% end %}
  </ul>
</div>
{% end %}


{% block Content %}
  {% if current_user %}
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#post-question" data-toggle="tab">Question</a></li>
      <li><a href="#post-discus" data-toggle="tab">Discus</a></li>
      <li><a href="#post-technology" data-toggle="tab">Technology</a></li>
      <li><a href="#post-amazing" data-toggle="tab">Amazing</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="post-question">
        <form action="/post" method="post">
          <input type="text" name="type" value="question" hidden>
          <input type="text" class="form-control" name="title" placeholder="Need help?" required data-validation-required-message="Please enter the title.">
          <textarea class="form-control" name="content" placeholder="Optional - Your question detail." rows="8"></textarea>
          <button type="submit" class="btn">submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="post-discus">
        <form action="/post" method="post">
          <input type="text" name="type" value="discus" hidden>
          <input type="text" class="form-control" name="title" placeholder="Let's talk about..." required data-validation-required-message="Please enter the title.">
          <textarea class="form-control" name="content" placeholder="Optional - Your discusion detail." rows="8"></textarea>
          <button type="submit" class="btn">submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="post-technology">
        <form action="/post" method="post">
          <input type="text" name="type" value="technology" hidden>
          <input type="text" class="form-control" name="title" placeholder="Do you know..." required data-validation-required-message="Please enter the title.">
          <textarea class="form-control" name="content" placeholder="What do you want to share?" required data-validation-required-message="Please enter something." rows="8"></textarea>
          <button type="submit" class="btn">submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="post-amazing">
        <form action="/post" method="post">
          <input type="text" name="type" value="amazing" hidden>
          <input type="text" class="form-control" name="title" placeholder="Jack, this is amazing!" required data-validation-required-message="Please enter the title.">
          <textarea class="form-control" name="content" placeholder="Something interesting!" required data-validation-required-message="Please enter something." rows="8"></textarea>
          <button type="submit" class="btn">submit</button>
        </form>
      </div>
    </div>
  </div>
  {% end %}
{% end %}


{% block Footer %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2014</span>
      </div>
    </div>
  </div>
</footer>
{% end %}


{% block Modals %}
{% end %}


{% block Javascript %}
  {% if not current_user %}
    <!-- FaceBook Login JavaScript -->
    <script src="/static/twcl_page/js/facebookLogin.js"></script>
  {% end %}
{% end %}
