{% extends "base.html" %}


{% block Link %}
<link rel="stylesheet" href="/static/css/userPhoto.css">
<link rel="stylesheet" href="/static/css/message.css">
{% end %}


{% block Header %}
<header>
  <nav class="navbar navbar-default"></nav>
</header>
{% end %}


{% block NavLink %}
{% end %}


{% block Content %}
  <div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>{{roomname}}</h2>
      <div class="message-div">
        {% for i in message[::-1] %}
          <div class="message-content">
            {% if i.author.get().img_key %}
              {% set img_path = "/img/"+i.author.get().img_key.urlsafe() %}
            {% else %}
              {% set img_path = "/static/img/autoface.png" %}
            {% end %}
            <img src="{{img_path}}" alt="{{i.author.get().name}}" class="message-photo img-circle">
            <div class="message-text-div">
              <div class="message-name">
                <a href="/message/{{i.author.get().account}}">{{i.author.get().name}}</a>
              </div>
              <div class="message-text">{{i.content}}</div>
              <div class="message-time">{{i.created.strftime("%Y-%m-%d %H:%M")}}</div>
            </div>
            <div class="clear-float"></div>
          </div>
        {% end %}
      </div>
      <form action="/message{{path}}" method="post">
        <textarea class="form-control" name="content" id="" rows="3"></textarea>
        <button type="submit">submit</button>
      </form>
    </div>
    <div class="col-md-3">
      <div class="user-photo-div">
        <img src="{{face_url}}" class="user-photo img-rounded img-responsive">
        {% if self_message_page %}
        <form class="photo-upload">
          <input type="file" name="photo" class="photo-upload-input" user-key="{{user_key}}">
          Change Photo
        </form>
        {% end %}
      </div>
    </div>
  </div>
</div>
{% end %}


{% block Footer %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2014</span>
      </div>
    </div>
  </div>
</footer>
{% end %}


{% block Modals %}
{% end %}


{% block Javascript %}
  <!-- Upload photo JavaScript -->
  <script src="/static/js/photoUpload.js"></script>
{% end %}
