{% extends "base_login.html" %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 align="center">SIGN UP</h2>
        {% if has_error %}
        <div class="alert alert-danger">
          <strong>{{error_title}}</strong><br>
          {{error_message}}
        </div>
        {% end %}
        <form id="login-form" action="/signup" method="post">
          <input type="text" name="referer" value="{{referer_url}}" hidden>
          <br>
          <h4 id="login-signin">Sign up:</h4>
          <input type="text" class="form-control login-input" placeholder="Your Name" required data-validation-required-message="Please enter your name." name="account" required>
          <br>
          <input type="password" class="form-control login-input" placeholder="Password" required data-validation-required-message="Please enter your password." name="passward" required>
          <br>
          <input type="verify" class="form-control login-input" placeholder="Password Again" required data-validation-required-message="Please enter your password again." name="passward" required>
          <br>
          <button type="submit" class="btn btn-primary login-submit">
            Sign up
          </button>
          <br>
          <br>
          <button type="button" class="btn btn-primary fb-login-btn">
            <i class="fa fa-facebook-square fa-2x" style:color="blue"></i>
            Log in with facebook
          </button>
          <br>
          <br>
        </form>
      </div>
    </div>
  </div>
{% end %}
